include _comment

mixin post(post)
  .box.box-widget
    .box-header.with-border
      .user-block
        img.img-circle(src='dist/img/user1-128x128.jpg')
        span.username
          a(href='#') #{post.author.name} 
        span.description
          shared #{time}
      .box-tools
        each tag in post.tags
          span.label.label-success #{tag}
        button.btn.btn-sm.btn-info(data-toggle="tooltip" data-widget="collapse" title="collapse")
          i.fa.fa-minus
       
    .box-body
      p.markdown-content= post.text
      - const userlikes = user.likes.map(obj => obj.toString())
      - const likeClass = userlikes.includes(post._id.toString()) ? 'btn-success' : ''
      button.btn.btn-default.btn-xs.like(name="like" data-id= post._id class= likeClass)
        i.fa.fa-thumbs-o-up
        | &nbsp; like
      - const userdislikes = user.dislikes.map(obj => obj.toString())
      - const dislikeClass = userdislikes.includes(post._id.toString()) ? 'btn-danger' : ''
      button.btn.btn-default.btn-xs.dislike(name="dislike" data-id= post._id class= dislikeClass)
        i.fa.fa-thumbs-o-down
        | &nbsp; dislike
    if post.comments
      each comment in post.comments
        +comment(comment)
    .box-footer
      form(method="post" action=`/comment/${post._id}`)
        img.img-circle.img-responsive.img-sm(src='dist/img/user3-128x128.jpg')
        .img-push
          input.form-control.input-sm(type='text' name='content' placeholder='write a comment')