include _comment

mixin post(post)
  .box.box-widget
    .box-header.with-border
      .user-block
        img.img-circle(src='dist/img/user1-128x128.jpg')
        span.username
          a(href='#') #{post.author.name} 
        span.description
          shared #{time}
      .box-tools
        each tag in post.tags
          span.label.label-success #{tag.name}
       
    .box-body
      p #{post.text}
      img.img-responsive.pad(src='dist/img/photo2.png')
      button.btn.btn-default.btn-xs
        i.fa.fa-thumbs-o-up
        | &nbsp; like
      button.btn.btn-default.btn-xs
        i.fa.fa-thumbs-o-down
        | &nbsp; dislike
    +comment(comments)
    .box-footer
      form(method="post" action=`/comment/${post._id}`)
        img.img-circle.img-responsive.img-sm(src='dist/img/user3-128x128.jpg')
        .img-push
          input.form-control.input-sm(type='text' name='content' placeholder='write a comment')
          input.btn.btn-primary(type='submit' value='ok')